<span>
  <h2>{{ title }} app is running!</h2>
</span>
<br/>
<div class="container">
  <h4> Parent Component</h4>

  <p>
     To send whatever is entered in the textbox to the child component <br/>
     Enter the name:
     <input type="text" class="formControl" [(ngModel)]="EnterName" />
     Enter the age:
     <input type="text" class="formControl" [(ngModel)]="EnterAge" />
     Enter the Marital Status:
     <input type="text" class="formControl" [(ngModel)]="EnterStatus" />
     Enter the Gender:
     <input type="text" class="formControl" [(ngModel)]="EnterGender" />
     Enter the Height:
     <input type="text" class="formControl" [(ngModel)]="EnterHeight" />

     <input type="button" value="send" (click)="transferData()" class="btn btn-primary" />
  </p>
</div>

<div class="container>">
  <app-home 
      [parentData1]="parentData1"
      [parentData2]="parentData2"
      [parentData3]="parentData3"
      [parentData4]="parentData4"
      [parentData5]="parentData5"
      ></app-home>
</div>
   <!-- [home] = "app" -->
<br/>

<div class="container">
  <h4> Received data from Child: {{ value }}</h4>
  <app-about (sendData)="sendData($event)"></app-about> 
</div>

<!-- Parent and child binding demo using property binding and event binding. -->
